@{
    ViewBag.Title = "Home Page";
}
<br />
<h4>@Html.ActionLink("Addresses", "Addresses")</h4>
<h4>@Html.ActionLink("Classrooms", "Classrooms")</h4>
<h4>@Html.ActionLink("Departments", "Departments")</h4>
<h4>@Html.ActionLink("Groups", "Groups")</h4>
<h4>@Html.ActionLink("GroupTimetables", "GroupTimetables")</h4>
<h4>@Html.ActionLink("Students", "Students")</h4>
<h4>@Html.ActionLink("Marks", "Marks")</h4>
<h4>@Html.ActionLink("PairTimetables", "PairTimetables")</h4>
<h4>@Html.ActionLink("Phones", "Phones")</h4>
<h4>@Html.ActionLink("Specialities", "Specialities")</h4>
<h4>@Html.ActionLink("Subjects", "Subjects")</h4>
<h4>@Html.ActionLink("Teachers", "Teachers")</h4>
<h4>@Html.ActionLink("Timetables", "Timetables")</h4>





